@namespace ConwaysGameOfLife.App.Components

<button @onclick="Tick">Tick</button>
<button @onclick="Random">Random</button>
<button @onclick="Reset">Reset</button>
<br/>
<a>Current Iteration: @Iteration</a>
<br/>
<BECanvas @ref="_canvas" Width="@Width" Height="@Height"></BECanvas>