@namespace ConwaysGameOfLife.App.Components

<button @onclick="Tick">Tick</button>
<button @onclick="Random">Random</button>
<button @onclick="Reset">Reset</button>
<br/>
<a style="font-family:Consolas">Current Iteration: @Iteration</a>
<br/>
<a style="font-family:Consolas">Current Live Cell: @LiveCellCount</a>
<br />
<BECanvas @ref="_canvas" Width="@Width" Height="@Height"></BECanvas>